{% extends "layout/base.html" %} {% block content %}

<style>
  .hidden {
    display: none;
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow border-0 rounded-3">
        <!-- Header -->
        <div class="card-header bg-primary text-white text-center">
          <h4 class="mb-0">Update Recipe</h4>
        </div>

        <!-- Body -->
        <div class="card-body p-4">
          {% include 'recipes/partials/forms.html' %}
          <hr />
          <span>{% if new_recipe_url %}</span>
          <div id="ingredient-create">
            <button
              hx-get="{{ new_recipe_url }}"
              hx-trigger="click"
              hx-target="#ingredient-create"
              hx-swap="beforeend"
              class="btn btn-success"
            >
              Add Ingredient
            </button>
          </div>
          <span>{% endif %}</span>
          <hr />
          {% for ingredient in object.get_ingredients_children %}
          <span>{% with obj=ingredient %}</span>
          <span>{% include 'recipes/partials/ingredient-inline.html' %}</span>
          <span>{% endwith %}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
